<!doctype html>
<html lang="en" xmlns:th=”www.thymeleaf.org”>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .container{
            max-width: 100% !important;
            height: 100% !important;
            margin-left: 0 !important;
            padding-left: 0 !important;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <!--        left of page-->
        <div class="col-md-8">
            <nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
      <br>
    <h5>Welcome to,</h5>
      <h2>Pets-a-Hut</h2>
  </span>
            </nav>
            <div class="logImg">
<!--                <img  src="https://images.pexels.com/photos/4056475/pexels-photo-4056475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img" alt="cover-image">-->
                <img  src="https://images.pexels.com/photos/4056475/pexels-photo-4056475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img" alt="cover-image">
            </div>
        </div>
        <!--        right of page log in form-->
        <div class="col-6 col-md-4">
            <br><br><br>
            <h3>Owner Information</h3>
                <form th:action="@{/HomePage}" th:object="${account}" method="post">
                    <div class="input-group mb-3">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationServer01">Name</label>
                            <input th:field="*{personName}" type="text" class="form-control is-valid" id="validationServer01" placeholder="Enter name..." required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationServer02">Phone Number</label>
                            <input th:field="*{phone}" type="text" class="form-control is-valid" id="validationServer02" placeholder="(555)555-555" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h3>Pet Information</h3>
<!--Pet name input-->
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationServer03">Name</label>
                            <input th:field="*{petName}" type="text" class="form-control is-invalid" id="validationServer03" required>
                            <div class="invalid-feedback">
                                Please provide a pet name.
                            </div>
                        </div>
<!--Pet Type input-->
                        <div class="col-md-3 mb-3">
                            <label for="validationServer04">Type</label>
                            <select th:field="*{petType}" class="custom-select is-invalid" id="validationServer04" required>
                                <option selected disabled value="Type">Choose...</option>
                                <option value="Cat">Cat</option>
                                <option value="Dog">Dog</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a pet type.
                            </div>
                        </div>
<!-- Pet Gender input-->
                        <div class="col-md-3 mb-3">
                            <label for="validationServer04">Gender</label>
                            <select th:field="*{gender}" class="custom-select is-invalid" id="validationServer05" required>
                                <option selected disabled value="Gender">Choose...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select your pets gender.
                            </div>
                        </div>

<!--Breed input-->
                        <div class="col-md-9 mb-3">
                            <label for="validationServer03">Breed</label>
                            <input th:field="*{breed}" type="text" class="form-control is-invalid" id="validationServer06" required>
                            <div class="invalid-feedback">
                                Please provide your pets breed.
                            </div>
                        </div>
<!--Pet age input-->
                        <div class="col-md-3 mb-3">
                            <label for="validationServer05">Age</label>
                            <input type="text" class="form-control is-invalid" id="validationServer08" required>
                            <div class="invalid-feedback">
                                Please provide your pets age.
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Description</span>
                            </div>
                            <textarea th:field="*{petInfo}" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                            <label class="form-check-label" for="invalidCheck3">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>

<!--                        <div class="col-6">-->
<!--                            <button type="submit" class="btn btn-outline-success btn-lg">Login</button>-->
<!--                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input class="btn btn-outline-primary btn-lg" type="submit" value="Add Owner" onclick="document.getElementById('myInput').value=''">
<!--                            <button type="submit" class="btn btn-outline-primary btn-lg" onclick="document.getElementById('myInput').value=''">Add User</button>-->
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>
<!--Log in form ends-->



</body>
</html>